.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}

.logo {
  width: 100px;
}

.restaurant-card {
  width: 200px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  min-height: 400px;
}

.restaurant-card > img {
  width: 100%;
  height: 150px;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
}

.search-bar {
  margin-left: 10px;
}

.shimmer {
  width: 200px;
  height: 400px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: lightgray;
}

.restaurant-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restaurant-details-image {
  width: 300px;
  height: 300px;
}

.restaurant-info {
  text-align: center;
  border: 2px solid blue;
  padding: 10px;
  border-radius: 10px;
}

.restaurant-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 20px;
}

.status-tracker {
  display: flex;
  gap: 4px;
  font-weight: 600;
}

.online-status {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(72, 179, 72);
}

.offline-status {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: red;
}
